/* Universal */

* {
    margin: 0;
    padding: 0;
}

* a {
    text-decoration: none;
}

body {
    font-family: Poppins;
    background-color: #161616;
    background-image: url(./Assets/dots.svg);
}


/* Nav Bar */

nav {
    display: block;
    max-width: 100%;
    padding: 25px 25px 0 25px;
}

.nav-bar-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #9a9a9a;
    padding: 0 15px 25px 15px;
}

.navlink {
    color: #9a9a9a;
    margin-right: 25px;
    font-size: 14px;
}
    
.navlink-end {
    color: #9a9a9a;
    font-size: 14px;
}

.navlink-end:hover {
    color: white;
}

.navlink:hover {
    color: white;
}

.nav-bar-left {
    margin-right: 50%;
}


/* Hero Section */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.simple_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1200px;
    padding: 100px 20px;
}

.image_hero {
    border-radius: 50%;
    width: 25%;
    height: auto;
    overflow: hidden;
    margin-bottom: 15px;
    box-shadow: 0px 6px 10px #d8d8d829;
}

.image_hero:hover {
    opacity: 0.9;
    cursor: pointer;
}

.hero_hi {
    color: #c8c8c8;
    margin-bottom: 25px;
    font-size: 14px;
}

.hero_tagline {
    font-size: 50px;
    text-align: center;
    background: linear-gradient(97.13deg, #E9E9E9 0%, #515151 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* PYP Section */

.pyp_section {
    color: #c8c8c8;
}

.pyp_section h2 {
    margin-bottom: 25px;
}

.pyp_section label {
    margin-bottom: 5px;
}

#input {
    margin-bottom: 10px;
    width: 50%;
    height: 25px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px #d8d8d829;
    text-align: center;
    font-family: Poppins;
    font-size: 15px;
}

.btn_pyp {
    width: 50%;
    height: 35px;
    font-family: Poppins;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.btn_pyp:hover {
    background-color: #161616;
    color: #c8c8c8;
}


/* Modal Section */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #ffffff;
    margin: 15% auto;
    padding: 20px 50px;
    border: 1px solid #888;
    width: 25%;
    position: relative;
  }
  
  .close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 28px;
    font-weight: bold;
    color: #aaa;
    padding: 10px 20px 10px 10px;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .modal_h2 {
    margin-bottom: 10px;
  }
  